.home-page {

  &__price-text {
    text-align: center;
    cursor: pointer;
  }

  &__property-card {
    height: 280px;

    &--img {
      display: block;
      max-width: 100%;
      height: 100px;
    }
  }

}