<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="home-page">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Location</ion-label>
          <ion-select (ionChange)="selectFilter('loc')" [(ngModel)]="filter.location" placeholder="Select One Location">
            <ion-select-option value="City of Manila">City of Manila</ion-select-option>
            <ion-select-option value="Caloocan">Caloocan</ion-select-option>
            <ion-select-option value="Las Pinas">Las Pinas</ion-select-option>
            <ion-select-option value="Makati">Makati</ion-select-option>
            <ion-select-option value="Malabon">Malabon</ion-select-option>
            <ion-select-option value="Mandaluyong">Mandaluyong</ion-select-option>
            <ion-select-option value="Marikina">Marikina</ion-select-option>
            <ion-select-option value="Muntinlupa">Muntinlupa</ion-select-option>
            <ion-select-option value="Navotas">Navotas</ion-select-option>
            <ion-select-option value="Parañaque">Parañaque</ion-select-option>
            <ion-select-option value="Pasay">Pasay</ion-select-option>
            <ion-select-option value="Pasig">Pasig</ion-select-option>
            <ion-select-option value="Pateros">Pateros</ion-select-option>
            <ion-select-option value="Quezon City">Quezon City</ion-select-option>
            <ion-select-option value="San Juan">San Juan</ion-select-option>
            <ion-select-option value="Taguig">Taguig</ion-select-option>
            <ion-select-option value="Valenzuela">Valenzuela</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col class="home-page__price-text" size="6" (click)="sortPrice()">
        <p>Price : <ion-icon *ngIf="priceSort" name="arrow-round-up" inline="true"></ion-icon>
          <ion-icon *ngIf="!priceSort" name="arrow-round-down" inline="true"></ion-icon>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Number Of Rooms</ion-label>
          <ion-select (ionChange)="selectFilter('numberOfRooms')" [(ngModel)]="filter.numberOfRooms"
            placeholder="Select One Number Of Rooms">
            <ion-select-option value="1">1 to 5</ion-select-option>
            <ion-select-option value="5">5 to 10</ion-select-option>
            <ion-select-option value="10">10+</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Unit Type</ion-label>
          <ion-select (ionChange)="selectFilter('unitType')" [(ngModel)]="filter.unitType"
            placeholder="Select One Unit Type">
            <ion-select-option value="Apartment">Apartment</ion-select-option>
            <ion-select-option value="Dormitory">Dormitory</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="haveSelectedFilters">
      <ion-col size="12">
        <ion-button (click)="clearFilters()" expand="block" color="tertiary">
          <ion-icon slot="end" name="close"></ion-icon>
          Clear Filter/s
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item-divider>
          <ion-label>
            Units Available
          </ion-label>
        </ion-item-divider>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isLoadingUnits">
      <ion-col size="12">
        <ion-spinner class="home-page__spinner-loader" color="primary" name="dots"></ion-spinner>
      </ion-col>
    </ion-row>

    <div *ngIf="!isLoadingUnits">
      <ion-row *ngIf="!isEmtpy; else noUnitsAvailable">
        <ion-col size="6" *ngFor="let unit of units">
          <ion-card class="home-page__property-card" button="true" (click)="goToProperty(unit.pk)">
            <img class="home-page__property-card--img" src="{{unit.unitPhotos[0]}}" />
            <ion-card-header>
              <ion-card-title>{{unit.unitTitle}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{unit.priceOfRent}} m/o</p>
              <p>{{unit.location}}</p>
              <p>{{unit.unitType}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ng-template #noUnitsAvailable>
        <ion-row>
          <ion-col size="12">
            <h1 class="home-page__no-units-msg">No Unit/s Found! Please select a new filter/s or clear it.</h1>
          </ion-col>
        </ion-row>
      </ng-template>
    </div>
  </ion-grid>
</ion-content>