<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Properties
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="my-properties">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <ion-button (click)="gotoAddNewUnitPage()" expand="block" color="tertiary">
          <ion-icon slot="end" name="add"></ion-icon>
          Post New Unit
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item-divider>
          <ion-label>
            Your Unit/s Posted <small>Tap the card to edit (or remove) the details of the unit</small>
          </ion-label>
        </ion-item-divider>
      </ion-col>
    </ion-row>
    <div *ngIf="!isLoadingUnits">
      <ion-row *ngIf="!isEmtpy; else noUnitsAvailable">
        <ion-col size="12" *ngFor="let unit of units">
          <ion-card class="my-properties__property-card" button="true" (click)="goToProperty(unit.pk)">
            <img class="my-properties__property-card--img" src="{{unit.unitPhotos[0]}}" />
            <ion-card-header>
              <ion-card-title>{{unit.unitTitle}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{unit.priceOfRent}} m/o</p>
              <p>{{unit.location}}</p>
              <p>{{unit.unitType}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ng-template #noUnitsAvailable>
        <ion-row>
          <ion-col size="12">
            <h1 class="my-properties__no-units-msg">No Unit/s Found! Please select a new filter/s or clear it.</h1>
          </ion-col>
        </ion-row>
      </ng-template>
    </div>
  </ion-grid>
</ion-content>